body{
    font-family: var(--mainFont);
}

.header{
    
    padding: 50px;
}

.header  ul{
    display:flex;
    flex-wrap: wrap;
    gap:35px;
}

.header .bar{
    display:none;
}

.list a{
    color:#0D0E43;
}

.list .active{
    color:var(--primary);
}

.search form{
    border:3px solid #E7E6EF;
    border-radius: 5px;
    
    display:flex;
}
.search input{
    border:none;
    outline:none;
    width: 250px;
    padding-left: 9px;
}

.search button{
    border:none;
    outline:none;
    background-color: var(--primary);
    padding: 8px 13px;
}





@media screen and (max-width:900px) {
    .list, .search {
        display: none;
    }
    .header .bar {
        display: block;
        
    }
}


/*start client*/
.clients{
    padding:50px;
}
.clients .row{
    flex-wrap:nowrap;
    gap:15px;
    overflow-x: auto;
}
.clients .logo{
    width: calc((100% -75)/6);
}

.clients img{
width:150px;
height: 150px;
}


@media screen and (max-width:900px) {
    .clients .logo{
        width:calc((100% - 30px)/3);
    }
}





/*end client*/








/*start footer*/





.footer-item h2 {
    margin-bottom: 30px;
}

.footer-item nav{
    
    gap:20px;
   
}


.footer-item {
    width:calc((100% - 20)/3);
    gap:20px;
   
}


.footer .right-side .row {
    align-items: flex-start;
    gap:20px;
}


.footer a,.addres-info{
    color:#8A8FB9;
}
.footer{
    background-color: #EEEFFB;
    padding:50px 0;
}


.footer .left-side{
     width:calc((100% - 20px) /2);
    gap:35px;
    align-items: flex-start;
}

.footer .right-side{
    width:calc((100% - 20px) /2);
    
}


@media screen and (max-width:992px) {
    .footer .left-side,.footer .right-side{
        width: 100%;
    }
}
@media screen and (max-width:576px) {
   
    .footer-item{
        width: 100%;
         align-items: center;
    }
}







/*end footer*/